/Untitled.ipynb
/.ipynb_checkpoints/
/chrome-data/
/selenium/
/venv/
/chromedriver.exe
/credentials.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/LinkedIn_Scraper.iml
/test_scrapper.ipynb
